fastapi
uvicorn
python-dotenv
openai
PyPDF2
requests
python-multipart
chardet

# Autenticação e Segurança
bcrypt==4.1.3
passlib[bcrypt]
python-jose[cryptography]

# Banco de Dados
sqlalchemy
alembic
psycopg2-binary

# Validação
email-validator
pydantic[email]

